.tabs {
    margin-top: 0em;
}

.tab-header {
    display: flex;
    gap: 5px;
    background-color: black;
    color: wheat;
}

.tab-btn {
    background-color: teal;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 3px;

}
.tab-btn.active {
    background-color: green;
}
.tab-btn:hover {
    background-color: rgb(4, 88, 88);
}